---
import Layout from "@layouts/Layout.astro";
import { getBlogDetail, getBlogs } from "@libs/microcms";

import "../../styles/blog.css";

export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((blog: any) => ({
    params: { blogId: blog.id },
  }));
}

const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
---

<Layout title={`${blog.title} - Koki Miyakubo - Homepage`}>
    <section class="bg-opacity-25">
      <img src={blog.keyVisual.url} alt="" />
      <h1
        class="text-2xl font-bold tracking-tight text-background-dark dark:text-background-light sm:text-4xl mt-6 sm:mt-10"
      >
        {blog.title}
      </h1>
      <div class="mt-4 flex flex-row sm:flex-column flex-wrap gap-1 sm:gap-4">
        <span class="text-background-dark dark:text-background-light">
          PublishedAt: {
            new Date(blog.publishedAt)
              .toLocaleString()
              .split(" ")[0]
              .replace(/\//g, "-")
          }
        </span>
        {
          blog.updatedAt && (
            <span class="text-background-dark dark:text-background-light">
              UpdatedAt:{" "}
              {new Date(blog.updatedAt)
                .toLocaleString()
                .split(" ")[0]
                .replace(/\//g, "-")}
            </span>
          )
        }
      </div>
      <!-- タグが１つでも存在していれば表示、なければ非表示 -->
      {
        !blog.tag && (
          <p class="text-background-dark dark:text-background-light mt-4 sm:mt-4">
            Tags: {blog.tag}
          </p>
        )
      }
      <div
        id="blog-content"
        class="text-background-dark dark:text-background-light mt-4 sm:mt-6"
        set:html={blog.content}
      />
    </section>
</Layout>
