---
import { Image } from 'astro:assets'

export interface Props {
title: string;
href: string;
updatedAt: string;
keyVisual: {
url: string;
};
}

const { title, href, updatedAt, keyVisual } = Astro.props;

const date = new Date(updatedAt);
const year = date.getFullYear();
const month = String(date.getMonth() + 1).padStart(2, '0');
const day = String(date.getDate()).padStart(2, '0');
const formattedDate = `${year}-${month}-${day}`;
---

<a href={href} class="grid grid-rows-subgrid gap-y-4 row-span-2">
  <div class="relative w-full">
    <Image class="aspect-[16/9] w-full rounded-2xl object-cover sm:aspect-[3/2]" src={keyVisual.url} width={272}
      height={181} alt="" />
  </div>
  <div class="max-w-xl">
    <div class="flex items-center gap-x-4 text-xs">
      <time datetime={updatedAt} class="text-background-dark dark:text-background-light">{formattedDate}</time>
    </div>
    <div class="group relative">
      <h3 class="mt-3 text-lg font-semibold leading-6 text-background-dark dark:text-background-light">
        {title}
      </h3>
    </div>
  </div>
</a>
