---
import { Image } from 'astro:assets'
import { formatDate } from '@utils/date'
import Tag from './Tag.astro'

interface Props {
  title: string;
  publishedAt: string;
  imageUrl: string;
  link: string;
  tags?: string[];
}

const { title, publishedAt, imageUrl, link, tags } = Astro.props;
---

<article class="group relative flex flex-col overflow-hidden rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 animate-fade-in">
  <div class="relative h-48 sm:h-64 overflow-hidden">
    <Image
      src={imageUrl}
      alt={title}
      width={500}
      height={300}
      class="h-full w-full object-cover object-center transition-transform duration-300 group-hover:scale-105"
      format="webp"
    />
  </div>
  <div class="flex flex-1 flex-col justify-between bg-background-light dark:bg-background-dark p-6">
    <div class="flex-1">
      <a href={link} class="mt-2 block">
        <h3 class="text-xl font-semibold text-background-dark dark:text-background-light">
          {title}
        </h3>
        <time
          datetime={publishedAt}
          class="block text-sm text-background-dark dark:text-background-light mt-2"
        >
          {formatDate(publishedAt)}
        </time>
      </a>
      {tags && tags.length > 0 && (
        <ul class="mt-4 flex flex-wrap gap-2">
          {tags.map(tag => <Tag text={tag} />)}
        </ul>
      )}
    </div>
  </div>
</article>
