---
import Button from "@components/Button.astro";
import Avatar from "@components/Avatar.astro";
import Text from "@components/Text.astro";
import avatar from "@images/img-avatar.png";

const profileDetails = {
  name: "Koki Miyakubo",
  job: "Frontend Engineer",
  text: "都内在住のフロントエンドエンジニアです。現在はSESとして主にWeb制作に携わっています。",
  avatar: avatar,
  links: [
    {
      title: "Works",
      link: "/works",
    },
    {
      title: "TechLog",
      link: "https://techlogwalk.vercel.app",
      color: "accent",
    },
  ],
};
---

<section
  class="grid grid-cols-1 sm:grid-cols-4 -mt-8 bg-opacity-25 backdrop-blur-xl px-4 py-8 rounded-lg shadow-lg"
>
  <div class="col-span-1 sm:col-span-3">
    <h1
      class="text-2xl font-bold text-background-dark dark:text-background-light"
    >
      {profileDetails.name}
    </h1>
    <p
      class="text-sm font-semibold text-background-dark dark:text-background-light"
    >
      {profileDetails.job}
    </p>
    <Text text={profileDetails.text} />
  </div>
  <div class="flex justify-center sm:col-span-1 mt-4 sm:-mt-16">
    <Avatar imgSrc={profileDetails.avatar} />
  </div>
  <div
    class="grid grid-cols-2 sm:px-24 gap-4 sm:gap-10 sm:col-span-4 mt-10 justify-center"
  >
    {profileDetails.links.map((link) => (
      <Button link={link.link} text={link.title} color={link.color} />
    ))}
  </div>
</section>
