---
import Layout from "@layouts/Layout.astro";
import { getPortfolioDetail, getPortfolios } from "@libs/microcms";
import { Image } from "astro:assets";

import "@styles/cms.css";

export async function getStaticPaths() {
  const response = await getPortfolios({ fields: ["id"] });
  return response.contents.map((portfolio: any) => ({
    params: { portfolioId: portfolio.id },
  }));
}

const { portfolioId } = Astro.params;
const portfolio = await getPortfolioDetail(portfolioId as string);
---

<Layout title={`${portfolio.title} - Koki Miyakubo - Homepage`}>
    <section class="bg-opacity-25">
      <Image src={portfolio.mainvisual.url} alt={portfolio.title} width={1000} height={1000} class="w-full h-auto" loading="eager" format="webp" />
      <h1
        class="text-2xl font-bold tracking-tight text-background-dark dark:text-background-light sm:text-4xl mt-6 sm:mt-10"
      >
        {portfolio.title}
      </h1>
      <div class="mt-4 flex flex-row sm:flex-column flex-wrap gap-1 sm:gap-4">
        <span class="text-background-dark dark:text-background-light">
          公開日: {
            new Date(portfolio.publishedAt)
              .toLocaleString()
              .split(" ")[0]
              .replace(/\//g, "-")
          }
        </span>
        {
          portfolio.updatedAt && (
            <span class="text-background-dark dark:text-background-light">
              更新日:{" "}
              {new Date(portfolio.updatedAt)
                .toLocaleString()
                .split(" ")[0]
                .replace(/\//g, "-")}
            </span>
          )
        }
      </div>



      <div
        id="blog-content"
        class="text-background-dark dark:text-background-light mt-4 sm:mt-6"
        set:html={portfolio.body}
      />
    </section>
</Layout>
